* {
  margin: 0;
}

body {
  margin: 0;
  background-color: #fefae0;
  grid-template-columns: ;
  color: #071e22;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.war-button {
  border: none;
  background-color: #d47373;
  box-shadow: 5px 7px 18px #888;
}

.war-button:hover {
  background-color: #d55b5b;
  box-shadow: none;
}

.play {
  border: none;
  background-color: #ccd5ae;
  box-shadow: 5px 7px 18px #888;
}
.play:hover {
  box-shadow: none;
  background-color: #aed5ae;
}

.deck-number {
  position: absolute;
  font-size: 11vw;
  color: #fff;
  text-shadow: 7px 7px 20px #000;
  user-select: none;
}

.main-wrapper {
  width: 95vw;
  margin: 0 auto;
  background-color: #faedcd;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.2fr 2fr;
  gap: 0.5em 0.5em;
  grid-auto-flow: row;
  grid-template-areas:
    "title title title title title"
    "player player . computer computer"
    "player-deck player-card text computer-card computer-deck";
}

.player {
  grid-area: player;
  text-align: center;
  font-size: 4vw;
}

.title {
  grid-area: title;
  text-align: center;
  padding: 30px 0 20px 0;
  font-size: 3.5vw;
}

.computer {
  grid-area: computer;
  text-align: center;
  font-size: 4vw;
}

.player-deck {
  grid-area: player-deck;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
}

.player-card {
  grid-area: player-card;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
}

.computer-card {
  grid-area: computer-card;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
}

.computer-deck {
  grid-area: computer-deck;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
}

.text {
  grid-area: text;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
}
